@import "./action/Button.css";

@import "./control/Link.css";

@import "./control/TableView.css";
@import "./control/TableCell.css";
@import "./control/VirtualListView.css";

@import "./form/Input.css";
@import "./form/ComboBox.css";
@import "./form/Editor.css";
@import "./form/ImageCropper.css";
@import "./form/InputContainer.css";
@import "./form/SubForm.css";

@import "./layout/Drawer.css";
@import "./layout/HBox.css";
@import "./layout/HorizontalLine.css";
@import "./layout/VBox.css";
@import "./layout/Window.css";
@import "./layout/Viewport.css";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./material.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons', fantasy;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
